<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{2} - %msg%n"/>
        </Console>
        <File name="TestLog" fileName="TestLogFileName" append="false">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{HH:mm:ss.SSS} [%t]: %msg%n</Pattern>
            </PatternLayout>
        </File>
        <File name="TestBug" fileName="TestBugFileName" append="false">
            <PatternLayout charset="UTF-8">
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{2} %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="TestLog" level="info"/>
            <AppenderRef ref="TestBug" level="debug"/>
        </Root>
    </Loggers>
</Configuration>